<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="styles.css">
    {% for script in scripts %}
      <script src="/scripts/{{ script }}.page.js"></script>
    {% endfor %}
  </head>
  <body>
    <main style="text-align: center;">
      {{ content | safe }}
      <div id="root"></div>
    </main>
  </body>
</html>